#book{
  margin:0 auto;
  padding-top: 20px;
  /*background-color: pink;*/
  width:1200px;
  height:800px;
  overflow: hidden;
  -webkit-perspective: 5000px;
  -webkit-perspective-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
}

.page{
  /*margin:auto;*/
  margin: 0px;
  top: 30px;right: 270px;bottom: 0;
  width:420.24px;
  height: 680px;
  position:absolute;
  border-radius:0 30px 30px 0;
  border:2px solid black;

  box-shadow:0 5px 10px #666;
  -webkit-box-shadow:0 5px 10px #666;
  -moz-box-shadow:0 5px 10px #666;

  transform-origin:left ;
  -o-transform-origin:left;
  -moz-transform-origin:left;
  -ms-transform-origin:left;
  -webkit-transform-origin:left;

  transition:transition 1s linear ;
  -o-transition: -o-transform 1s linear;
  -moz-transition: -moz-transform 1s linear;
  -ms-transition: -ms-transform 1s linear;
  -webkit-transition: -webkit-transform 1s linear;
}

#page1{
  text-align:center;
  font-size:200px;
  line-height: 1.6;
  z-index: -1;
  opacity:1;
}
#page2{
  /*background:green;*/

  z-index: -2;
  opacity:0.05;
}
#page3{
  /*background:yellow;*/

  z-index: -3;
  opacity: 0.05;
}

#skillTree{
  width: 380px;
  height: 556px;
  background:url("../image/skill.png") no-repeat;
  background-position: center;
}

#page4{
  /*background:white;*/
  z-index: -4;
  opacity:0.05;
}

