#book{
  margin:0 auto;
  padding-top: 20px;
  /*background-color: pink;*/

  width:1200px;
  height:900px;
  overflow: hidden;
  -webkit-perspective: 5000px;
  -webkit-perspective-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
}

.page{
  margin:auto;
  margin: 0px;
  top: 60px;right: 270px;bottom: 0;
  width:420.24px;
  height: 680px;
  position:absolute;
  border-radius:0 30px 30px 0;
  border:2px solid black;
  -o-transform-origin:left;
  -moz-transform-origin:left;
  -ms-transform-origin:left;
  -webkit-transform-origin:left;
  -o-transition: -webkit-transform 1s linear;
  -moz-transition: -webkit-transform 1s linear;
  -ms-transition: -webkit-transform 1s linear;
  -webkit-transition: -webkit-transform 1s linear;
}

#page1{
  /*background:red;*/
  z-index: -1;
}
#page2{
  /*background:green;*/
  z-index: -2;
}
#page3{
  /*background:yellow;*/
  z-index: -3;
}
#page4{
  /*background:white;*/
  z-index: -4;
}

