<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'blog:edit_action' %}" method="post">
    {% csrf_token %}
    {% if article %}
    <input type="hidden" name="article_id" value="{{ article.id }}">
    <label>a
        <input type="text" name="title" value="{{ article.title }}"/>
    </label>
    <br>
    <label>b
        <input type="text" name="content" value="{{ article.content }}"/>
    </label>
    <br>
    {% else %}
    <input type="hidden" name="article_id" value="0">
    <label>a
        <input type="text" name="title"/>
    </label>
    <br>
    <label>b
        <input type="text" name="content"/>
    </label>
    <br>
    {% endif %}
    <label>
        <input type="submit" name="submit"/>
    </label>
    <br>
</form>

</body>
</html>